*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    background-color: lightgray;
}

.wrapper{
    width: 600px;
    background-color: rgb(253, 245, 245);
    padding: 10px;
    margin: 20px auto;
}

.custom-table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.basic{
    background-color: rgb(191, 231, 191);
}

.plus{
    background-color: rgb(233, 245, 233);
}

.deluxe{
    background-color: rgb(203, 212, 224);
}

.pro{
    background-color: rgb(196, 198, 201);
}

.custom-table td, .custom-table th{
    width: 150px;
    padding: 10px;
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.custom-table th{
    height: 70px;
    color: #64548f;
    font-size: 30px;
}

i{
    margin-right: 5px;
}

h2{
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: rgb(244, 252, 244);
}

tfoot tr{
    line-height: 70px;
}

a{
    text-decoration: none;
    background-color: rgb(99, 99, 128);
    padding: 15px;
    color: white;
    border-radius: 10px;
}